# Dependencias
node_modules/
package-lock.json
yarn.lock

# Variables de entorno
.env

# Base de datos
database/*.db
database/*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos temporales
tmp/
temp/
*.tmp
